.btns {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  margin-bottom: 40px;
}

.btns__btn {
  /* display: flex; */
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  border-bottom-width: 5px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.btns__btn--big {
  width: 50%;
  font-size: 18px;
  font-weight: 600;
  border-radius: 15px;
}

.btns__btn--big span {
  margin-left: 5px;
  font-size: 20px;
}
