@keyframes dot_rotation_1st {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(180deg);
  }
}
@keyframes dot_rotation_2nd {
  0% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

body {
  background-color: #6bbcbe;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
div {
  margin: 50px 0;
}
.as1 {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  /* animation: dot_rotation_1st 2s, dot_rotation_2nd 2s linear infinite; */
  border: 1px solid rgba(0, 0, 0, 0.8);

  display: flex;
  align-items: center;
  justify-content: center;
}

.dot {
  font-size: 100px;
  color: white;
  display: flex;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.8);
}

.bar {
  color: white;
  font-size: 100px;
  font-weight: 1000;
}
.bar span {
  margin: 0px 0px;
}
.bar1 {
  transition: all 2s linear;
}
.bar1:hover {
  transform: translateX(100px);
}
