.a {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  border: 1px solid rgba(0, 0, 0, 0.9);
  display: inline-block;
  height: 200px;
  line-height: 200px;
  text-align: center;
}
.a span {
  font-size: 50px;
  /* vertical-align: middle; */
  border: 1px solid rgba(0, 0, 0, 0.9);
  display: inline-block;
  text-align: center;
  /* height: 100px;
  line-height: 100px; */
}
